:root {
    --black-color: #000000;
    --not-black-color: #363636;
    --gold-color: #f5deb3;
    --white-color: #ffffff;
    --gray-color: #808080;
    --blue-color: #007bff;
    --green-color: #28a745;
    --red-color: #dc3545;
    --primary-color: #ff0000;
  }